*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 180%;
        background-image: url('https://media.istockphoto.com/id/1495388784/photo/sports-fitness-and-equipment-with-empty-room-of-gym-for-workout-health-and-background.webp?b=1&s=170667a&w=0&k=20&c=iTw7cQVFTVyiurWsGMlPVvFi-UV2YQ_H1MRKR9piQoY=');
        opacity: 0.5; 
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1; 
}

.heading{
    width: 100%;
    display: flex;
    justify-content: center;

    span{
        font-size:75px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        color: #fdfdfe;
        text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #000000, 0px 0px 10px #000000,
    0px 0px 20px #000000;
    }
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
   
}

.card{
    display: flex;
    /* justify-content: space-between; */
    border: 2px solid black;
    border-radius: 10px;
    height: 90%;
    width: 50%;
}

.image{

    width: 40%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.details{
    background-color: black;
    color: white;
    font-size: 1.1rem;
    width: 60%;

    form{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 25px;
        align-items: center;

        .labels{
            width: 100%;
            margin-left: 3rem;
            display: flex;
            flex-direction: column;
        }

        .options{
            display: flex;
            margin-right: 200px;
            gap: 10px;
        }

        input{
            border-radius: 10px;
            padding: 10px;
            font-size: 1rem;
            width: 80%;
        }

        .button{
            display: flex;
            align-items: center;
            justify-content: center;

            button{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.1rem;
                padding: 20px;
                border: none;
                background-color: #1f8ef1;
                color: white;
                border-radius: 5px;
                cursor: pointer;
                font-weight: 500;
            }

            button:hover{
                background-color: #48b1f7;
            }
        }

    }
}

footer{
    span{
        font-size: 1.1rem;
        color: white;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
}
